automation/workflows/gbp-post-emailer.json
{
    "name": "MidSouth - GBP Post Draft Emailer",
    "nodes": [
        {
            "id": "gbp-001",
            "name": "Daily Check 10AM",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                240,
                320
            ],
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "days",
                            "daysInterval": 1,
                            "triggerAtHour": 10,
                            "triggerAtMinute": 15
                        }
                    ]
                }
            }
        },
        {
            "id": "gbp-002",
            "name": "Manual Trigger",
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                240,
                460
            ],
            "parameters": {}
        },
        {
            "id": "gbp-003",
            "name": "Read Published Posts",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.4,
            "position": [
                480,
                390
            ],
            "parameters": {
                "operation": "read",
                "documentId": {
                    "__rl": true,
                    "value": "1838piMryF9Lw-yYVPrG2RPIvqSfBOGHXki422VOzy28",
                    "mode": "id"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "Published_Posts",
                    "mode": "name"
                },
                "options": {}
            }
        },
        {
            "id": "gbp-004",
            "name": "Find Today's Post",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                720,
                390
            ],
            "parameters": {
                "jsCode": "const posts = $input.all().map(r => r.json);\nconst today = new Date().toISOString().split('T')[0];\nconst todaysPosts = posts.filter(p => {\n  if (!p.Date_Published || p.Status !== 'published') return false;\n  return p.Date_Published.startsWith(today);\n});\nif (todaysPosts.length === 0) {\n  return [{ json: { hasPost: false, today } }];\n}\nconst post = todaysPosts[0];\nreturn [{ json: { hasPost: true, today, keyword: post.Keyword, title: post.Title || post.Keyword, slug: post.Slug || '', excerpt: post.Excerpt || '', category: post.Category || 'Tips & Guides', url: 'www.midsouthdumpsterms.com/blog/' + (post.Slug || '') } }];"
            }
        },
        {
            "id": "gbp-005",
            "name": "Has New Post?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                960,
                390
            ],
            "parameters": {
                "conditions": {
                    "conditions": [
                        {
                            "id": "check-post",
                            "leftValue": "={{ $json.hasPost }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            }
        },
        {
            "id": "gbp-006",
            "name": "Generate GBP Post",
            "type": "@n8n/n8n-nodes-langchain.openAi",
            "typeVersion": 1.4,
            "position": [
                1200,
                280
            ],
            "parameters": {
                "operation": "text",
                "modelId": {
                    "__rl": true,
                    "value": "anthropic/claude-3.5-sonnet",
                    "mode": "id"
                },
                "options": {
                    "baseURL": "https://openrouter.ai/api/v1"
                },
                "prompt": "={{ 'Write a Google Business Profile \"What\\'s New\" post for MidSouth Dumpster Rentals about our new blog post.\\n\\nBlog post keyword: ' + $json.keyword + '\\nBlog post title: ' + $json.title + '\\nBlog URL: ' + $json.url + '\\n\\nGBP post requirements:\\n- Maximum 1,500 characters\\n- Start with an attention-grabbing first line (no generic openers like \"We just published\")\\n- Mention MidSouth Dumpster Rentals by name\\n- Include the URL at the end: ' + $json.url + '\\n- End with a call to action (call 601-316-7891 or visit the link)\\n- Casual, helpful, local tone — not corporate\\n- Do NOT include hashtags\\n\\nReturn ONLY the post text, nothing else.' }}"
            }
        },
        {
            "id": "gbp-007",
            "name": "Send GBP Draft Email",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2.1,
            "position": [
                1440,
                280
            ],
            "parameters": {
                "operation": "send",
                "sendTo": "midsouthdumpsterms@gmail.com",
                "subject": "={{ '📍 New GBP Post Ready — ' + $('Find Today\\'s Post').first().json.keyword }}",
                "emailType": "html",
                "message": "={{ '<div style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto;\"><h2 style=\"color:#1a5276;\">📍 Your Google Business Profile Post Is Ready</h2><p>A new blog post published today. Copy the text below and paste it into your <a href=\\\"https://business.google.com\\\">Google Business Profile</a> as a \"What\\'s New\" post.</p><hr><h3>Post Text:</h3><div style=\"background:#f5f5f5;padding:20px;border-left:4px solid #2874a6;border-radius:4px;white-space:pre-wrap;font-size:14px;line-height:1.6;\">' + $json.message + '</div><hr><p><strong>Blog URL (for the GBP post link field):</strong><br><code>' + $('Find Today\\'s Post').first().json.url + '</code></p><p style=\"font-size:12px;color:#999;\">Steps: Go to business.google.com → Posts → Add Update → \"What\\'s New\" → Paste text → Add the URL → Publish</p></div>' }}",
                "options": {}
            }
        },
        {
            "id": "gbp-008",
            "name": "No Post Today",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                1200,
                500
            ],
            "parameters": {
                "mode": "manual",
                "fields": {
                    "values": [
                        {
                            "name": "status",
                            "type": "stringValue",
                            "value": "skipped"
                        },
                        {
                            "name": "reason",
                            "type": "stringValue",
                            "value": "No blog post published today"
                        }
                    ]
                },
                "options": {}
            }
        }
    ],
    "connections": {
        "Daily Check 10AM": {
            "main": [
                [
                    {
                        "node": "Read Published Posts",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Manual Trigger": {
            "main": [
                [
                    {
                        "node": "Read Published Posts",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Read Published Posts": {
            "main": [
                [
                    {
                        "node": "Find Today's Post",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Find Today's Post": {
            "main": [
                [
                    {
                        "node": "Has New Post?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Has New Post?": {
            "main": [
                [
                    {
                        "node": "Generate GBP Post",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "No Post Today",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate GBP Post": {
            "main": [
                [
                    {
                        "node": "Send GBP Draft Email",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1",
        "timezone": "America/Chicago"
    }
}